.email {
  border-radius: 0.55rem;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF;
  line-height: 1.5;
  color: #44476A;
  background-color: #e6e7ee;
  border: 0.0625rem solid #D1D9E6;
}

.password {
  border-radius: 0.55rem;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF;
  line-height: 1.5;
  color: #44476A;
  background-color: #e6e7ee;
  border: 0.0625rem solid #D1D9E6;
}